<footer class="footer">
  <div class="footer-title">
    <span
      >Белгородский государственный национальный исследовательский
      университет</span
    >
    Экспозиционно-выставочный центр «Природа Белогорья»
  </div>
  <div class="footer-content">
    <div class="footer-content_nav">
      <a>КОЛЛЕКЦИИ</a>
      <a>СПРАВОЧНИКИ</a>
      <a>УПРАВЛЕНИЕ</a>
    </div>
    <div class="footer-content_info">
      <div class="footer-content_info-item">
        <span>Адрес</span>
        308015, г. Белгород, Адрес: ул. Победы, 85, корп.17, 2 этаж, к. 2-5
      </div>
      <div class="footer-content_info-item">
        <span>Режим работы</span>
        По будням с 09:00 до 18:00, перерыв с 13:00 до 14:00
      </div>
      <div class="footer-content_info-item">
        <span>E-mail</span>
        iphcb@bsu.edu.ru
      </div>
      <div class="footer-content_info-item">
        <span>Телефон</span>
        +7 (4722) 30 - 13 - 78
      </div>
    </div>
  </div>
</footer>
