@import "../variables";

* {
  font-family: MontserratReg, sans-serif;
}

body {
  height: 100% !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 964px;
  background-color: $mainColor;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

::ng-deep .button {
  border: none;
  color: $secondColor;
  background-color: $graySilk !important;
  padding: 20px 30px;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s ease-in-out;

  &:hover {
    background-color: #bfc2ac !important;
  }

  &:disabled {
    cursor: default !important;
    background-color: #626262 !important;
  }
}
::ng-deep .p-focus {
  box-shadow: none !important;
  border: none;
}
::ng-deep .p-dropdown-panel {
  background-color: #efeceb;
  box-shadow: $shadowDrop;
}
::ng-deep .p-dropdown-clear-icon {
  top: 40% !important;
}
