@import "src/variables.scss";

.login {
  z-index: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $mainColor;
  display: flex;
  align-items: center;
  justify-content: center;
  * {
    background-color: $mainColor;
  }
  &-container {
    border: 1px solid $secondColor;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    gap: 20px;
  }
  &-form {
    display: flex;
    flex-direction: column;
    gap: 25px;

    ::ng-deep &-input {
      width: 100%;
      border-radius: 30px;
      height: 50px;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    button {
      height: 50px;
    }
    &-helper {
      margin-top: 15px;
      color: $red;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

